
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
} 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
} 
fieldset,img { 
    border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-weight: normal; 
    font-style: normal; 
} 
ol,ul { 
    list-style: none; 
} 
caption,th { 
    text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%; 
} 
q:before,q:after { 
    content:''; 
} 
abbr,acronym { 
    border: 0; 
}

body {
	font-family: 'Helvetica Neue', 'Myriad Pro', Calibri, 'trebuchet ms', Tahoma, Arial, Verdana, sans-serif;
	font-size: 1.25em;
}

/* elements */

p {
    padding: 5px 3px 5px 5px;
    margin: 0;
    color: #444;
}

a {
    padding: 5px 3px 5px 5px;
    margin: 0;
    text-decoration: none;
    color: #cb3f20;
}

a:hover {
    color: #333;
}

#name a:hover {
    color: #cb3f20;
}

code {
    font-family: "Panic Sans", "Luxi Mono", "Courier New", Monaco;
	background-color: #fafafa;
	border: 1px solid #efefe0;
	padding: 10px 10px 10px 30px;
	display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

blockquote {
    color: #666;
	background-color: #fafafa;
	border: 1px solid #efefe0;
	padding: 10px 10px 10px 30px;
	display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

img {
    border: 0;
    margin: 0 0 15px 0;
    max-width: 750px;
}

ul {
    padding: 10px 15px 10px 15px;
    margin: 0;
    color: #222;
}

ul li {
    padding: 2px 0;
    margin: 0;
}

h2 {
    color: #333;
    padding: 5px 15px 5px 0;
    margin: 0 15px 0 0;
    font-size: 1.75em;
    line-height: 1.2em;
    font-weight: normal;
}

h3, h4, h5, h6 {
    color: #222;
    padding: 0 15px 0 2px;
    margin: 0;
    font-size: 1em;
    line-height: 1.25em;
    letter-spacing: .1em;
    font-weight: normal;
}

h3 {
    text-transform: uppercase;
}

.sep {
    size: .75em;
    color: #999;
}

.sep_20 {
    height: 20px;
}

.sep_40 {
    height: 40px;
}

.hr_eof {
    padding: 5px 0;
    margin: 0;
    font-size: .75em;
    color: #999;
    text-align: center;
}

.time {
    font-size: .7em;
    text-transform: none;
    letter-spacing: 0;
    color: #656565;
}

/* area */

#container {
    background-color: #fdfdfd;
    width: 750px;
    margin: auto;
    min-height: 100px;
}

#header {
    margin: 20px auto 2px;
    padding: 5px;
    height: 40px;
}

#name {
    padding: 0;
    margin: 0;
    font-size: 1.75em;
    line-height: 1.2em;
    font-weight: normal;
    width: 250px;
    display: block;
    float: left;
    font-size: 1.5em;
    text-transform: lowercase;
}

#slogan {
    width: 250px;
    display: block;
    color: #666;
    padding: 0 7px;
    font-size: .65em;
}

#nav {
    width: 490px;
    display: block;
    text-align: right;
    float: left;
}


#wrapper {
}

#content {
    padding: 5px 15px;
}

#footer {
    padding: 5px;
    color: #666;
    font-size: .8em;
    text-align: center;
}
