body {
    padding-top: 10px;
    height: 1000px;
}

a, a:hover {
    text-decoration: none;
}

.sidebar ul {
    list-style: none;
}

body > .container, .content {
    min-height: 500px;
}

form .input {
    margin-left: 90px;
}

label {
    width: 70px;
}

#writer input, #writer textarea {
    -webkit-transition: None;
    -moz-transition: None;
    -ms-transition: None;
    -o-transition: None;
    transition: None;
    -webkit-box-shadow: None;
    -moz-box-shadow: None;
    box-shadow: None;
}

#writer input:focus, #writer textarea:focus {
    border-color: rgba(0, 0, 0) !important;
    -webkit-box-shadow: None !important;
    -moz-box-shadow: None !important;
    box-shadow: None !important;
}

#writer textarea {
    width: 800px;
}

footer p {
    text-align: center;
}

.blue_badge {
    color: #fff;
    background-color: #aad;
    font-size: 9px;
    line-height: 9px;
    padding: 3px 5px 3px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}

.gray_badge {
    color: #fff;
    background-color: #99a;
    font-size: 9px;
    line-height: 9px;
    padding: 3px 5px 3px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}
