<!DOCTYPE html>
<html>
    <head lang="zh-CN">
        <meta charset="utf-8" />
        <title>write</title>
        <link rel="stylesheet" href="../../../static/writer/style.css" />
        <link rel="shortcut icon" href="../../../static/shared/favicon.ico" />
    </head>
    <body>
         <div id="container">
             <div id="header">
                <a href="../../">origin</a>
                <a href="../../settings">site setting</a>
                <a href="../../../blog">visit site</a>
             </div>
             <div class="sep40"></div>
             <div id="main">
                 <div id="content">
                     <form id="writer" action="../../update/index" name="writer" method="post">
                         <div class="inner">
                            Title
                            <br />
                            <input name="title" type="text" class="input_200" value= "{% if post.title %}{{ post.title|escape }}{% endif %}"/>
                            <br />
                            <br />
                            Content
                            <br />
                            <textarea name="content" class="input_box">{% if post.content %}{{ post.content|escape }}{% endif %}</textarea>
                            <br />
                            <br />
                            <a id="doSubmit" href="javascript:document.writer.submit()">Save</a>&nbsp;&nbsp;{% if mode == 'edit' %}<a id="doDelete" href="#;" onclick="if (confirm('Are you sure?')) { location.href = '../../remove/{{ post.id }}';}">Delete</a>{% else %}<a id="doDiscard" href="../../">Discard</a>{% endif %}
                         </div>
                     </form>
                 </div>
                 <div id="description">
                 </div>
             </div>
             <div class="sep50"></div>
        </div>
        <div id="footer">
            <div id="info">
                <strong>Look at the star, look how they shine for you.</strong>
                <div class="sep4"></div>
                &copy; 2011 hbc
            </div>
            <div class="sep4"></div>
            <!--div id="powered">
                Powered by
                <a href="http://www.dotcloud.com" target="_blank">dotcloud</a>
                +
                <a href="http://jinja2.pocoo.org" target="_blank">jinja2</a>
                +
                <a href="http://www.webpy.org" target="_blank">webpy</a>
           </div-->
        </div>
    </body>
</html>
