{% include 'head.html' %}
        <title>{{ site_info.site_name }} » origin</title>
        <script type="text/javascript" src="{{ u.build('/static/shared/ext/jquery-1.6.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ u.build('/static/shared/ext/writer.js') }}"></script>
    </head>
    <body>
        <div class="container">
            {% include 'header.html' %}
            <div class="container">
                <div class="sidebar span3">
                    <ul>
                    	<li class="posts">
                            <a href="{{ u.build('/writer/post/new') }}">new post</a>
                            <br />
                            <a href="javascript:toggle('minisites')">view minisites</a>
                    	</li>
                        <li class="minisites">
                            <a href="{{ u.build('/writer/minisite/new') }}">new minisite</a>
                            <br />
                    		<a href="javascript:toggle('posts')">view posts</a>
                    	</li>
                    </ul>
                </div>
                <div class="content span12">
                <div class="posts">
                    {% if posts %}
                    <table id="posts" border="0" cellpadding="0" width="100%" cellspacing="0" class="zebra-striped">
                    	<tr>
                    		<th width="auto">Title</th>
                    		<th width="150">Created</th>
                    		<th width="150">Last Modified</th>
                        </tr>
                    {% for post in posts %}
                        {% if loop.index % 2 ==0 %}
                            {% set style = 'even' %}
                        {% else %}
                            {% set style = 'odd' %}
                        {% endif %}
                        <tr>
                            <td class="{{ style }}">
                                <a href="{{ u.build(['/writer/post/edit/', post.id]|join) }}" class="title">{{ post.title }}</a>
                                <a href="{{ u.build(['/', post.url]|join) }}" class="visit">»</a>
                                {% if post.is_page == 1 %}
                                <div class="gray_badge">PAGE</div>
                                {% endif %}
                                {% if post.is_isolated == 1 %}
                                <div class="blue_badge">ISOLATED</div>
                                {% endif %}
                                <br />
                                <a href="#" onclick="if (confirm('Are you sure?')) { location.href = '{{ u.build(['/writer/post/remove/', post.id]|join) }}';}" class="delete">remove</a>
                            </td>
                            <td class="{{ style }}">{{ post.created_time }}</td>
                            <td class="{{ style }}">{{ post.modified_time }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    {% else %}
                    <div class="message alert-message block-message info">
                        <h2>Oops...</h2>
                        <p>Your posts box is empty.</p>
                        <p>Start <a href="{{ u.build('/writer/post/new') }}">writing</a> now.</p>    
                    </div>
                    {% endif %}
                </div>
                <div class="minisites">
                    {% if minisites %}
                    <table id="minisite" class="zebra-striped" border="0" cellpadding="0" width="100%" cellspacing="0">
                    	<tr>
                    		<th width="auto">Title</th>
                    		<th width="150">Created</th>
                    		<th width="150">Last Modified</th>
                        </tr>
                    {% for post in minisites %}
                        {% if loop.index % 2 ==0 %}
                            {% set style = 'even' %}
                        {% else %}
                            {% set style = 'odd' %}
                        {% endif %}
                        <tr>
                            <td class="{{ style }}">
                                <a href="{{ u.build(['/writer/minisite/edit/', post.id]|join) }}" class="title">{{ post.title }}</a>
                                <a href="{{ u.build(['/', post.url]|join) }}" class="visit">»</a>
                                <br />
                                <a href="#" onclick="if (confirm('Are you sure?')) { location.href = '{{ u.build(['/writer/minisite/remove/', post.id]|join) }}';}" class="delete">remove</a>
                            </td>
                            <td class="{{ style }}">{{ post.created_time }}</td>
                            <td class="{{ style }}">{{ post.modified_time }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    {% else %}
                    <div class="message alert-message block-message info">
                        <h2>Oops...</h2>
                        <p>Your minisites box is empty.</p>
                        <p>Start <a href="{{ u.build('/writer/minisite/new') }}">writing</a> now.</p>    
                    </div>
                    {% endif %}
                </div>
                </div>
            </div>
{% include 'foot.html' %}
