* {
    padding: 0;
    margin: 0;
}

@font-face {font-family:"Graublau Web";src:local("Graublau Web"),local("Graublau Web Regular"),local("GraublauWeb"),local("GraublauWeb-Regular"),url(../../static/shared/fonts/graublau-web.otf) format("opentype")}

@font-face{font-family:"Graublau Web";font-weight:700;src:local("Graublau Web Bold"),local("GraublauWeb-Bold"),url(../../static/shared/fonts/graublau-web-bold.otf) format("opentype")}

body {
    font-family: "Graublau Web";
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-family: "Graublau Web", seirf;
}

a {
    text-decoration: none;
    color: #2e8cb2;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

ul {
    list-style: none;
}

div.wrapper {
    margin: 0;
    padding: 0;
}

div.header {
    padding: 75px;
    background: url("../../static/shared/pics/index.png") no-repeat;
    min-height: 620px;
}

div.header > h1 {
    font-size: 84px;
    font-weight: 700;
    line-height: .9;
    color: #f6f6f6;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.55);
}

div.header > h2 {
    padding: 0 7px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

div.content {
    width: 535px;
    padding: 2px 5px;
    position: relative;
}

div.content > p
{
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

div.nav {
    float: left;
}

div.item {
    background: #fffff0;
    margin: 2px 5px;
    padding: 3px;
    display: inline-block;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

div.item > a {
    padding: 0 5px;
    
    -moz-border-radius: 2px;
    border-radius: 2px;
}

div.item > a:hover {
    background-color: #f0f0f0;
}

div.lifestream div.stream_content {
    z-index: 99;
    position: absolute;
    bottom: 50px;
    width: 300px;
    height: 200px;
    padding: 5px 10px 5px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
    overflow: hidden;

    display: none;
}

div.lifestream div.stream_content ul li {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

div.lifestream div.stream_content ul li a:hover {
    color: #4fafd6;
}

div.words {
    float: right;
    padding: 5px 10px;
    font-size: 11px;
    color: #2e8cb2;
    background: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
}
