@font-face {font-family:"Graublau Web";src:local("Graublau Web"),local("Graublau Web Regular"),local("GraublauWeb"),local("GraublauWeb-Regular"),url(/static/shared/fonts/graublau-web.otf) format("opentype")}

@font-face{font-family:"Graublau Web";font-weight:700;src:local("Graublau Web Bold"),local("GraublauWeb-Bold"),url(/static/shared/fonts/graublau-web-bold.otf) format("opentype")}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
	font-family: "Graublau Web", Georgia, "Times New Roman", Times, serif;
	line-height: 1.6em;
    background: url("/static/shared/2.png") repeat;
}

a {
    text-decoration: none;
    color: #cb3f20;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

a:hover {
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

p {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}    

code {
    font-size: .98em;
	font-family: "Panic Sans", "Luxi Mono", "Courier New", Monaco;
	background-color: #fff6f4;
	border: 1px solid #efefe0;
	padding: 5px 5px 5px 30px;
    display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

blockquote {
    padding: 0 3px 0 3px;
    margin: 2px 2px 2px 15px;
    border-left: 2px solid #fff6f4;
}

div.sep120 {
    height: 120px;
}

div.wrapper {
    margin: 50px auto;
    position: relative;
    width: 960px;
}

.nav > ul{
    position: fixed;
    padding: 10px 0 5px;
    margin: 0 0 20px;
    float: left;
    width: 200px;
    min-height: 200px;
    list-style-type: none;
    line-height: 1.2em;
}

.nav > ul > li {
    padding: 5px;
    font-size: 1.2em;
    line-height: .85em;
}

.nav > h3.section_header {
    position: fixed;
    display: block;
    padding: 0 0 5px;
    margin: 200px 0 20px;
    width: 150px;
    line-height: 1.2em;
    font-weight: 400;
    font-size: 0.95em;
    color: #666;
}

div.content {
    padding: 5px 0 5px;
    margin: 0 0 20px 200px;
    float: left;
    position: relative;
    width: 720px;
    min-height: 600px;
}

div.content > h2.title {
    color: #444;
    font-size: 1.8em;
    line-height: 1.2em;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}

div.content > p {
    padding: 0 5px;
    font-size: 14px;
    color: #444;
}

div.content img {
    padding: 3px;
    max-width: 700px;
}

div.content h3, h4, h5, h6 {
    padding: 5px 0 0 2px;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2em;
}

div.content > p.created_time {
    margin: 0;
    float: right;
    font-size: .55em;
    color: #999;
}

div.content > a.permalink {
    margin: 0;
    float: right;
    font-size: .55em;
    color: #999;
}

div.content > a.permalink:hover {
    color: #666;
}

div.footer {
    color: #c3c3c3;
    font-size: .85em;
    margin: 0 0 0 225px;
    clear: both;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
