<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8"/>
    <title>{{ site_info.site_name }}</title>
    <link rel="stylesheet" media="screen" href="/static/themes/words/words.css" />
    <link rel="alternate" type="application/atom+xml" href="/feed.xml?category=all" />
    <link rel="shortcut icon" href="/static/shared/favicon.ico" />
    {% if site_info.google_analytic_id %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site_info.google_analytic_id }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
	</head>
	<body>
		<div id="container">
      <div id="header">
        <div id="nav">
          <a href="/">{{ site_info.site_name }}</a> /
          {% for page in pages %}
          <a href="/{{ page.url }}">{{ page.title }}</a> /
          {% endfor %}
          <a href="/writer">origin</a>
        </div>
      </div>
      <div id="content">
        <p>邪</p>
	  </div>
      <div id="footer">
        <p>&copy; 2011 {{ site_info.author }}</p>
        <p>{{ site_info.site_slogan }}</p>
			</div>
		</div>
	</body>
</html>
