{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="themes/{{ header.theme }}.css" />
{% endblock %}

{% block title %} {{ site.site_name }} {% endblock %}

{% block nav %}
<ul>
    {% if nav %}
    {% for (name, uri) in nav %}
    <li>
        <a href="/{{ uri }}.html">{{ name }}</a>
    </li>
    {% endfor %}
    {% endif %}
</ul>
{% endblock %}

{% block contents %}
    {% if posts %}
        {% for post in posts %}
    <div class="content">
            {% if post.link %}
        <h2 class="title">
                <a href="{{ post.link }}">{{ post.title }}</a>
        </h2>
            {% else %}
        <h2 class="title">{{ post.title }}</h2>
            {% endif %}
            {{ post.content }}
        <a href="/{{ post.url }}.html" class="permalink">permalink</a>
    </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block footer %}
{{ site.site_slogan }}
{% endblock %}
