{% extends "base.html" %}

{% block title %} {{ post.title }} {% endblock %}

{% block nav %}
<ul>
	<li>
		<a href="/">blog</a>
    </li>
    {% if nav %}
    {% for page in nav %}
    <li>
        <a href="/{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
    {% endif %}
	<li>
		<a href="/feed.xml">feed</a>
	</li>
</ul>
{% endblock %}

{% block content %}
<h2 class="title">{{ post.title }}</h2>
{{ post.content }}
{% endblock %}

{% block footer %}
{{ site.slogan }}
{% endblock %}
