{% extends "base.html" %}

{% block head %} 
<link rel="stylesheet" href="themes/{{ header['theme'] }}" /> 
{% endblock %}

{% block title %} {{ post.title }} {% endblock %}

{% block nav %}
<ul>
    {% if nav %}
    {% for (name, uri) in nav %}
    <li>
        <a href="/{{ uri }}">{{ name }}</a>
    </li>
    {% endfor %}
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<h2 class="title">{{ post.title }}</h2>
{{ post.content }}
{% endblock %}

{% block footer %}
{{ site.slogan }}
{% endblock %}
